body{
    background-image: url("../css/rock.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
color : white;
}


.listgroup{
    float: left;
    display: inline;
}

#companyname > h1, #companyname > h2 , #companyname > img{
    display: inline-block;
}

#companyname{
    text-align: center;
}

#companydes{
    padding-left: 30px;
}

#candlestick{
    padding-left : 30px;
}

 #mainlogo {
    animation-duration: 3s;
    animation-name: slidein;
}

 /* #candlestick {
    animation-duration: 3s;
    animation-name: slidein;
} */
@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%;
  }

  to {
    margin-bottom: 0%;
    width: 100%;
  }
}

a:hover {
  background-color: peachpuff;
}
